@font-face {
  src: url('../fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
  src: url('../fonts/open-sans/OpenSans-Bold.ttf');
}

@font-face {
  src: url('../fonts/open-sans/OpenSans-Italic.ttf');
}

@font-face {
  src: url('../fonts/pacifico/Pacifico.ttf');
}
