.logo {
  -fx-font-family: 'Pacifico';
  -fx-font-size: 50px;
}

#main-menu {
  -fx-alignment: center;
  -fx-padding: 30px 100px 100px 100px;
}

#card-grid {
  -fx-padding: 20px;
  -fx-vgap: 10px;
  -fx-hgap: 10px;
}

.button {
  -fx-border-color: black;
  -fx-font-family: 'Open Sans';
  -fx-font-weight: bold;
}

.card-button {
  
}
