@font-face {
  src: url('fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
  src: url('fonts/pacifico/Pacifico.ttf');
}

.logo {
  -fx-font-family: 'Pacifico';
  -fx-font-size: 50px;
}

#main-menu {
  -fx-alignment: center;
  -fx-padding: 30px 100px 100px 100px;
}

#card-grid {
  -fx-padding: 20px;
  -fx-vgap: 10px;
  -fx-hgap: 10px;
}

.button {
  -fx-border-color: black;
  -fx-font-family: 'Open Sans';
}

.card-button {
  -fx-background-size: contain;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-radius: 10px;

  -fx-border-width: 2px;
  -fx-border-radius: 10px;
}
