#card-grid {
  -fx-padding: 20px;
  -fx-vgap: 10px;
  -fx-hgap: 10px;
}

.button {
  -fx-border-color: black;
}

.card-button {
  -fx-background-size: contain;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-radius: 10px;

  -fx-border-width: 2px;
  -fx-border-radius: 10px;
}
